@import "tailwindcss";


html{
  scroll-behavior: smooth;
}
h1, h2, h3 {
  font-family: "Poppins", sans-serif;
}

p, nav a, small {
  font-family: "Inter", sans-serif;
}
@keyframes borderRotate {
  0% {
    border-color: #1d5452;
  }
  33% {
    border-color: #eec248;
  }
  66% {
    border-color: #f16540;
  }
  100% {
    border-color: #1d5452;
  }
}

.animate-borderRotate {
  animation: borderRotate 3s linear infinite;
}
